* {
    font-family: 'Preahvihear', sans-serif;
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.dash-grid, #dash-title-container, .header-top > img {
    width: 100px;
    height: 100px;
}

body {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   /*  grid-template-areas: 
        "dash dash dash head head head head head head"
        "dash dash dash head head head head head head"
        "dash dash dash proj proj proj proj proj proj"
        "dash dash dash proj proj proj proj proj proj"
        "dash dash dash proj proj proj proj proj proj"
        "dash dash dash proj proj proj proj proj proj"
        "dash dash dash proj proj proj proj proj proj"
        "dash dash dash proj proj proj proj proj proj"
        "dash dash dash proj proj proj proj proj proj"
        "dash dash dash proj proj proj proj proj proj"; */
    gap: 10px;
    border: 5px solid black;
}

.dashboard {
    background-color: #00A3FF;
}

.header {
    background-color: #FFE500;
}

.project-area {
    background-color: darksalmon;
}