* {
    font-family: 'Preahvihear', sans-serif;
    /* box-sizing: border-box;  */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.header-top > img {
    width: 100px;
    height: 100px;
}

body {
    display: grid;
    grid-template-rows: 200px 1fr 1fr 1fr;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-areas: 
        "dash head head head"
        "dash proj proj proj"
        "dash proj proj proj"
        "dash proj proj proj";
}

.dashboard {
    background-color: #00A3FF;
    display: grid;
    grid-template-rows: repeat(11, 100px);
    grid-template-columns: 50px 100px;
    text-align: left;
    align-items: center;
    padding-left: 2em;
    column-gap: 15px;
    color: white;
    box-shadow: 0 0 15px 0;
    
}

.dashboard img:nth-last-child(6),
.dashboard h4:nth-last-child(5) {
    grid-row: 9;
}

.dashboard img:nth-last-child(4),
.dashboard h4:nth-last-child(3) {
    grid-row: 10;
}

.dashboard img:nth-last-child(2),
.dashboard h4:nth-last-child(1) {
    grid-row: 11;
}

#dash-img {
    width: 80px;
    height: 80px;
}

.dashboard > h2 {
    padding-left: 20px;
}


#dash {
    grid-area: dash;
    box-shadow: 0 0 10px 1px #00A3FF;
}

.header {
    background-color: #FFE500;
}

.header-top {
    display: flex;
    padding: 1em;
    height: 50px;
}

#search-icon {
    margin-left: 2em;
    margin-right: 1em;
}

#search-icon, #notify-icon {
    width: 2em;
    height: 2em;
    margin-top: 0.8em;
}

#search-bar {
    border-radius: 20px 20px 20px 20px;
    height: 2em;
    width: 50%;
    margin-top: 1em;
    border-width: 0;
}

#profile-pic1 {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin-right: 2em;
}

.header-top > #notify-icon {
    margin-left: 20em;
}

.header-top > h3 {
    align-self: center;
}

#notify-icon, #profile-pic1 {
    margin-left: 3em;
}

#head {
    grid-area: head;
    box-shadow: 0 0 5px 1px #FFE500;
    padding-bottom: 20px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-bottom-left {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-left: 2em;
}

.nav-container {
    display: flex;
    align-items: center;
    margin-right: 5em;
    gap: 2em;
}

button {
    padding: 2px 20px 2px 20px;
    border-radius: 20px 20px 20px 20px;
    color: whitesmoke;
    background-color: #00A3FF;
    border-width: 1px;
    border-color: #00A3FF;
}

#main-pic {
    border-radius: 50%;
    width: 7em;
    height: 7em;
}

.project-area {
    background-color: whitesmoke;
}
#proj {
    grid-area: proj;
    box-shadow: 0 0 10px 2px whitesmoke;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "thumbnail trend-grid"
        "thumbnail friend";
}

.thumbnail-grid, .online-grid, .trending-grid {
    border: 1px solid black;
}

.thumbnail-grid { 
    grid-area: thumbnail;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas: 
        "proj-title proj-title"
        "proj-1 proj-2"
        "proj-3 proj-4";
    gap: 20px;
}
.thumbnail-grid > * {
    border: 1px solid black;
}

#proj-1 {
    grid-area: proj-1;

}

#proj-2 {
    grid-area: proj-2;
}

#proj-3 {
    grid-area: proj-3;
}

#proj-4 {
    grid-area: proj-4;
}

.online-grid {
    grid-area: friend;
}
.trending-grid {
    grid-area: trend-grid;
}

