* {
    font-family: 'Preahvihear', sans-serif;
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.dash-grid, #dash-title-container, .header-top > img {
    width: 100px;
    height: 100px;
}

body {
    display: grid;
    grid-template-rows: 200px 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "dash head head head"
        "dash proj proj proj"
        "dash proj proj proj"
        "dash proj proj proj";
        
    gap: 10px;
    
}

.dashboard {
    background-color: #00A3FF;
}
#dash {
    grid-area: dash;
    border: 1px solid black;
}

.header {
    background-color: #FFE500;
}
#head {
    grid-area: head;
    border: 1px solid black;
}

.project-area {
    background-color: darksalmon;
}
#proj {
    grid-area: proj;
    border: 1px solid black;
}